/* utilities added  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;700&family=Work+Sans:wght@900&display=swap');



* {
    margin: 0;
}

body {
    font-family: "poppins", sans-serif;
    /* font-family: 'Work Sans', sans-serif; */


}

.container {
    max-width: 80%;
    margin: 0 auto;

}

.container2 {
    max-width: 90%;
    margin: 0 auto 100px;

}

.section-header {
    font-weight: 500;
    font-size: 2.7rem;
    line-height: 53px;
}

.description {
    margin: 10px 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #727272;
}

/* --------------------------------button styles ----------------------------- */
.btn-primary {
    background-color: #FF900E;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    padding: 21px 30px;
    margin: 50px;
}
.btn-primary:hover{
    transform: scale(1.05);
    background-color: #fff;
    transition-duration: 1.5s;
    color: #FF900E;
    border: 2px solid #FF900E;
   
    
}

.btn-experience {
    background-color: #FF900E;
    padding: 40px;
    border: none;
    border-radius: 5px;
    color: #fff;
    position: relative;
    left: -10%;
    top: -100px;
}

.btn-experience>span {

    font-weight: 700;
    font-size: 2.5rem;
    line-height: 70px;
    text-align: center;
}

/* -------------------------------------------------
header styes 
------------------------------------------------- */

/* nav style  */
header {
    background-color: #e88b2115;

}
nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 80px;
    align-items: center;
}

nav>h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}

.menu {
    display: flex;
}

.menu>li {
    list-style: none;
    color: #424242;
    padding: 8px 20px;
    margin-right: 5px;
    font-size: 18px;

}



/* ------------------------header details--------------------------  */

.header-details {
    padding: 20px 20%;

    text-align: center;
}

.header-title {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 53px;
    color: #131313;

}



/*----------------- banner style ------------ */


.banner>img {
    max-width: 100%;
    padding-bottom: 5%;

}


/* ------------------------------------------------------------------------
main section styles -
--------------------------------------------------------------*/
main {}

/* -------------------quick features styles  */
.quick-feature {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
}

.colaborate-work {
    max-width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 25px;
    grid-row-gap: 15px;
}

.works>img {
    max-width: 100%;
}

.connect-with-feature {
    max-width: 50%;

}

/* -------------------feature lists style -------------------- */
.feature-section {
    margin-top: 100px;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.feature-header {
    border-left: 4px solid #FF900E;
    font-size: 2rem;
    padding: 10px;

}
.f-title{
    font-size: 1.5rem;
}

.feature-list {
    max-width: 40%;
}

.feature {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 10px;
    margin-top: 15px;
}

.feature-side-image>img {
    width: 100%;
}


/*----------------- some facts or events  styles--------------------- */

.tasks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    gap: 20px;

}

.task {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    


}

@keyframes task-makup {
    0%{
       transform: rotate(-90deg);
    }
    50%{
        transform: rotate(90deg);

    }
    
}
.task:hover{
    animation: task-makup 1.5s ease-in-out .3s 1;
}

/* team members -------------------- */
.team-secton{
    display: flex;
    max-width: 90%;
    margin: 5% auto;
}

.title{
    text-align: center;
    font-size: 2.4rem;
}
.team-content{
    display: flex;
    align-items: center;
}
.team-content>img{
    max-width: 40%;
    border-radius: 5px;
}

.team-title{
    padding: 10px;
    line-height: 45px;
}


/* --------------------------our sponsors style ------------------- */
.sponsor-header {
    text-align: center;
    width: 50%;
    margin: auto;
}

.sponsors {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  

}


.amazon{
    
    opacity: .5;
}

/*-------------------------------------------------------------
 footer styles -
 ------------------------------------------------------ */
footer {
    background-color: #131313;
    padding: 5%;
    color: #fff;
    text-align: center;
}


/*------------------------------
 ---------------------------------------------
                   responsive design  for Mobile
    --------------------------------------------
    ---------------------------------------------- */

.hide {
    display: none;
}

@media screen and (max-width:576px) {

    nav{
        flex-direction: column;
        align-items: flex-start;
        padding: 30px 50px;
    }
    .menu>li{
        padding-left: 0;
    }
    nav>h1{
        font-size: 2rem;
        text-align: center;
    }

    .menu{
        flex-direction: column;
    }
    .section-header {
        font-size: 2rem;
        text-align: center;
    }
    .header-title{
        font-size: 2rem;
    }
    .header-details{
        padding: 10px;
    }

    .quick-feature {
        flex-direction: column;
        padding: 10px;
    }

    .colaborate-work {
        max-width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }

    .feature-section {
        flex-direction: column;
    }

    .feature-list {
        max-width: 100%;
    }

    .connect-with-feature {
        max-width: 100%;
    }

    .btn-experience {
        padding: 20px;
        position: relative;
        top: -75px;
        left: 0;
    }

    .tasks {
        flex-direction: column;
    }

    .task {
        width: 50%;
    }

    .fact-section>p {
        width: 100% !important;
        text-align: center;

    }

    .team-secton{
        flex-direction: column;
        gap: 20px;
    }
    .sponsor-header{
        width: 100%;
    }
    .sponsors{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
   




}

/*------------------------------
 ---------------------------------------------
                   responsive design  for Tablet
    --------------------------------------------
    ---------------------------------------------- */
@media screen and (min-width:577px) and (max-width:992px) {
    nav>h1{
        font-size: 2rem;
        text-align: center;
    }
    .section-header {
        font-size: 2.5rem;
    }

    .btn-experience {
        padding: 40px;

    }

    .btn-experience {
        position: relative;
        top: -100px;
        left: -10px;
    }

}

@media screen and (max-width:992px) {
    .fact-section>h2 {
        text-align: center;
    }

    .fact-section>p {
        width: 90%;
        margin: 10px auto;
        text-align: center;
    }
    .sponsor>img{
        width: 60%;
    }
}